name: Build Docker Image

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.prayujt.com
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            docker.prayujt.com/audio-scraper:latest
            docker.prayujt.com/audio-scraper:${{ github.sha }}
          cache-from: type=registry,ref=docker.prayujt.com/audio-scraper:cache
          cache-to: type=registry,ref=docker.prayujt.com/audio-scraper:cache,mode=max
